*{
      margin:0;
      padding: 0;
      box-sizing: border-box;
}

body{
      background-color: #1A202C;
}

.body{
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.section__container{
      width: 90%;
}

.title{
      color: #F23B2E;
      text-align: center;
}