/* ==========BASE========== */
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html{
      scroll-behavior: smooth;
      font-family: poppy-sans, sans-serif;
}

button{
      cursor: pointer;
      outline: 0;
}

ul,li,ol,a{
      text-decoration: none;
      list-style: none;
      color: #000;
}
/* ==========VARIABLE========== */
:root{
      --p__color: #393939;
      --s__color: #5E5E5E;
      --d__color: #f9f9f9;

      --soft__shadow: 1px 24px 50px -23px rgba(0, 0, 0, 0.1);
      --normal__shadow: 0px 9px 22px -10px rgba(0, 0, 0, 0.15);
      --hard__shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0456112), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0243888);

      --h1: 1.625rem; /* 26px */
      --h2: 1.5rem; /* 24px */
      --h3: 1.25rem; /* 20px */
      --h4: 1.125rem; /* 18px */
      --h5: 1rem; /* 16px */
      --h6: .875rem; /* 14px */
      --p: .75rem; /* 12px */

      --sb:600;
      --m:500;
      --l:300;
}

/* ==========REUSABLE========== */
.pl{
      padding-left: 5px;
}


/* ==========NAVBAR========== */
.nav__container{
      width: 100%;
      height: 80px;
      position: fixed;
      top: 0;
      right: 0;
      background: var(--d__color);
      z-index: 11;
      box-shadow: var(--soft__shadow)
}

.navbar{
      width: 95%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.nav__menus{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items: center;
      gap: 1.15rem;
      position: fixed;
      top:0;
      right: 1960px;
      width: 100%;
      height: 100%;
      background: var(--d__color);
      transition: .6s ease-in-out;
      z-index: 100;
}

.nav__menus.open{
      right: 0;
      transition: .6s ease-in-out;
}

.nav__list{
      display: inherit;
      flex-direction: column;
      gap: 1.5rem;
      padding: 12px;
}

.close__toggle > i{
      font-size: var(--h1);
      color: var(--p__color);
      cursor: pointer;
}

.nav__link > a{
      font-size: var(--h5);
      font-weight: var(--l);
      color: var(--s__color);
}

.nav__link > a:hover{
      color: var(--p__color);
      font-weight: var(--m);
}

.nav__link > a > i{
      font-weight: var(--m);
      color: var(--p__color);
      font-size: var(--h3);
}

.nav__toggle > .bx{
      font-size: var(--h1);
      cursor: pointer;
}

.logo > h1{
      font-weight: var(--m);
      font-size: var(--h3);
}

.logo > h1 > span{
      font-weight: var(--sb);
}

.r__side{
      display: flex;
      gap: 1rem;
      align-items: center;
}

.search__icon > i{
      font-size: var(--h2);
      cursor: pointer;
}

.join{
      padding: 8px 18px;
      background: none;
      border: .5px solid var(--p__color);
      border-radius: 3px;
      transition: .3s ease-in-out;
}

.join:hover{
      /* border: .1px; */
      background: var(--p__color);
      color: var(--d__color);
      transition: .3s ease-in-out;
}
/* ==========PRODUCT BANNER========== */
.banner__container{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
      margin-top: 100px;

}

.banner__box1,.banner__box2{
      width: 95%;
}

.banner__box1 > img {
      width: 100%;
      height: auto;
      object-fit: cover;
}

.banner__box2{
      display: flex;
}

.banner__box2 > img {
      width: 50%;
      /* padding: 0px 0px 0px 5px; */
}
/* ==========BRAND LOGO========== */
.brand__container{
      width: 100%;
      height: auto;
}

.logo__container{
      width: 95%;
      height: 50px;
      margin: 26px auto 0 auto;
      background: #ffff;
      border-radius: 5px;
      overflow-x: scroll;
      display: flex;
      gap: 2rem;
      align-items: center;
      box-shadow: var(--hard__shadow);
}

::-webkit-scrollbar {
      display: none;
}

.logo__container > a > img {
      width: auto;
      height: 30px;
      padding: 0 10px;
      opacity: .5;
      transition: .3s ease-in-out;
}

.logo__container > img:hover{
      opacity: 1;
      transition: .3s ease-in-out;
}

/* ==========PRODUCT CATEGORY========== */
.category__container{
      width: 100%;
      height: auto;
}

.inner__container{
      width: 95%;
      height: auto;
      margin: 32px auto 32px auto;
      display: flex;
      flex-wrap: wrap;
      /* justify-content:space-between; */
      row-gap: 1.5rem;
      column-gap: 1rem;
}

.category__box{
      background: #ffff;
      border-radius: 5px;
      box-shadow: var(--normal__shadow);
}

.category__box > a > img{
      width: 80px;
}
/* ==========PRODUCT CARD========== */
.product__container{
      width: 100%;
      height: auto;
      /* margin-bottom: 32px; */
}

.productCard__container{
      width: 95%;
      margin: 0 auto 32px auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      row-gap: 1.2rem;
}

.product__card{
      min-width: 150px;
      min-height: 300px;
      border-radius: 5px;
      box-shadow: var(--soft__shadow);
      cursor: pointer;
      overflow: hidden;
}

.product__card:hover{
      border: 1px solid var(--s__color);
}

.product__card:hover > .card__image > .image__product{
      transform: scale(1.05);
      transition: .3s ease-in-out;
}

.product__card:hover > .card__image > .shoes{
      transform: scale(5);
      transform: rotate(-10deg);
}

.product__card:hover .addToCart__button{
      background: var(--p__color);
      color: var(--d__color);
      transition: all .3s ease-in-out;
}

.card__image{
      width: 100%;
      height: 150px;
      margin-bottom: 8px;
      position: relative;
}

.card__image::before{
      content: "";
      position: absolute;
      width: 150px;
      height: 90px;
      background: #f6f6f6;
      border-radius: 5px;
      z-index: -1;
      top: 25px;
      left: 20px;
}

.image__product{
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.shoes{
      transform: rotate(-15deg);
}

.like__button{
      position: relative;
      width: 100%;
      height: 25px;
}

.like__button > .i {
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      font-weight: var(--l);
      color: var(--s__color);
      cursor: pointer;
      margin: 8px 8px 0 0;
      opacity: .5;
}

.liked{
      background: red;
}

.card__text, .product__price{
      width: 100%;
      height: auto;
      text-align: center;
      line-height: 1.2rem;
}

.product__name{
      font-size: var(--h6);
      font-weight: var(--sb)
}

.product__description{
      font-size: var(--p);
      font-weight: var(--l);
}

.price{
      margin: 9px 0;
}

.card__button{
      width: 100%;
      height: 40px;
      position: relative;
}

.addToCart__button{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 0 0 5px 5px;
      border: 1px solid var(--s__color);
      color: var(--p__color);
      background: var(--d__color);
      transition: all .3s ease-in-out ;
}

/* .image__background{
      
} */

/* ==========BLOG AND NEWS========== */
/* ==========FOOTER========== */