/* ==========BASE========== */
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html{
      scroll-behavior: smooth;
      font-family: poppy-sans, sans-serif;
}

button{
      cursor: pointer;
      outline: 0;
}

ul,li,ol,a{
      text-decoration: none;
      list-style: none;
      color: #000;
}
/* ==========VARIABLE========== */
:root{
      --p__color: #393939;
      --s__color: #5E5E5E;
      --d__color: #f9f9f9;

      --soft__shadow: 1px 24px 50px -23px rgba(0, 0, 0, 0.1);
      --normal__shadow: 0px 9px 22px -10px rgba(0, 0, 0, 0.15);
      --hard__shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0456112), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0243888);

      --h1: 1.625rem; /* 26px */
      --h2: 1.5rem; /* 24px */
      --h3: 1.25rem; /* 20px */
      --h4: 1.125rem; /* 18px */
      --h5: 1rem; /* 16px */
      --h6: .875rem; /* 14px */
      --p: .75rem; /* 12px */

      --sb:600;
      --m:500;
      --l:300;
}

/* ==========REUSABLE========== */
.pl{
      padding-left: 5px;
}


/* ==========NAVBAR========== */
.nav__container{
      width: 100%;
      height: 100px;
}

.navbar{
      width: 95%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.nav__menus{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items: center;
      gap: 1.15rem;
      position: absolute;
      top: 0;
      right: 1960px;
      width: 100%;
      height: 100%;
      background: var(--d__color);
      transition: .6s ease-in-out;
}

.nav__menus.open{
      right: 0;
      transition: .6s ease-in-out;
}

.nav__list{
      display: inherit;
      flex-direction: column;
      gap: 1.5rem;
      padding: 12px;
}

.close__toggle > i{
      font-size: var(--h1);
      color: var(--p__color);
      cursor: pointer;
}

.nav__link > a{
      font-size: var(--h5);
      font-weight: var(--l);
      color: var(--s__color);
}

.nav__link > a:hover{
      color: var(--p__color);
      font-weight: var(--m);
}

.nav__link > a > i{
      font-weight: var(--m);
      color: var(--p__color);
      font-size: var(--h3);
}

.nav__toggle > .bx{
      font-size: var(--h1);
      cursor: pointer;
}

.logo > h1{
      font-weight: var(--m);
      font-size: var(--h3);
}

.logo > h1 > span{
      font-weight: var(--sb);
}

.r__side{
      display: flex;
      gap: 1rem;
      align-items: center;
}

.search__icon > i{
      font-size: var(--h2);
      cursor: pointer;
}

.join{
      padding: 8px 18px;
      background: none;
      border: .5px solid var(--p__color);
      border-radius: 3px;
      transition: .3s ease-in-out;
}

.join:hover{
      /* border: .1px; */
      background: var(--p__color);
      color: var(--d__color);
      transition: .3s ease-in-out;
}
/* ==========PRODUCT BANNER========== */
.banner__container{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
}

.banner__box1,.banner__box2{
      width: 95%;
}

.banner__box1 > img {
      width: 100%;
      height: auto;
      object-fit: cover;
}

.banner__box2{
      display: flex;
}

.banner__box2 > img {
      width: 50%;
      /* padding: 0px 0px 0px 5px; */
}
/* ==========BRAND LOGO========== */
.brand__container{
      width: 100%;
      height: auto;
}

.logo__container{
      width: 95%;
      height: 50px;
      margin: 16px auto;
      background: #ffff;
      border-radius: 5px;
      overflow-x: scroll;
      display: flex;
      gap: 2rem;
      align-items: center;
      box-shadow: var(--hard__shadow);
}

::-webkit-scrollbar {
      display: none;
}

.logo__container > img {
      width: auto;
      height: 30px;
      padding: 0 10px;
      opacity: .5;
      transition: .3s ease-in-out;
}

.logo__container > img:hover{
      opacity: 1;
      transition: .3s ease-in-out;
}

/* ==========PRODUCT CATEGORY========== */
/* ==========PRODUCT CARD========== */
/* ==========BLOG AND NEWS========== */
/* ==========FOOTER========== */